# .NET build output
bin/
obj/

# ASP.NET Core files
wwwroot/lib/

# NuGet packages
*.nupkg
.nuget/

# User-specific files and caches
.vscode/
.idea/
.vs/
*.suo
*.user
*.rsuser
*.userosscache

# Log files
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Sensitive information (ensure these are kept out of source control)
appsettings.json
appsettings.Development.json
MenuAppBlazor.csproj.user

# Node modules (if using npm or yarn for front-end dependencies)
node_modules/

# Additional folders (if applicable)
Properties/

# Ignore backup files created by the editor
*~

# Publish output (if publishing your app)
publish/
