# .NET build output
bin/
obj/

# ASP.NET Core files
wwwroot/lib/

# User-specific files
.vscode/
.idea/
.vs/


# Log files
logs/

# System files
.DS_Store
Thumbs.db
MenuAppBlazor.csproj

# Sensitive information
appsettings.json
appsettings.Development.json
MenuAppBlazor.csproj.user

# Ignore node_modules (if using npm or yarn for front-end dependencies)
node_modules/
Properties/

# Ignore Visual Studio for Mac configuration folder
.vscode/

# Ignore backup files created by the editor
*~ 