<h3>ThemeHead</h3>
<HeadContent>
    <!-- Light theme (default) -->
    <link id="theme-light" href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Darkly theme -->
    <link id="theme-dark" href="css/bootstrap.darkly.css" rel="stylesheet" disabled />
</HeadContent>
@code {

}
